[Unit]
Description=User man-db update
Documentation=man:man(1) man:mandb(8)
ConditionFileIsExecutable=/usr/bin/mandb

[Service]
Type=oneshot
ExecStart=/usr/bin/mandb --quiet --user-db
